__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/



# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.pdf
.csv
# Uploads
uploads/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log